.header {
   position: relative;
   padding: 130px 0;
   width: 100%;
   background: url(./images/bg-header-desktop.png) no-repeat;
}

.header-text {
   line-height: 150%;
   color: rgba(75, 84, 91, 0.4);
   font-size: 1.25rem;
   margin-bottom: 50px;
}

.width-690 {
   max-width: 690px;
}

.logo-and-links {
   display: flex;
}

.header-logo {
   margin-bottom: 62px;
}

.btns {
   display: flex;
   gap: 16px;
}

.shadow-btn1 {
   height: max-content;
   border-radius: 25px;
   box-shadow: 0px 18px 12px rgba(37, 187, 165, 0.1);
}

.shadow-btn2 {
   height: max-content;
   border-radius: 25px;
   box-shadow: 0px 18px 12px rgba(97, 116, 255, 0.1);
}