.header {
   position: relative;
   padding: 130px 0;
   width: 100%;
   background: url(./images/bg-header-desktop.png) no-repeat;
   margin-bottom: 26px;
}

.header-text {
   line-height: 150%;
   color: rgba(75, 84, 91, 0.4);
   font-size: 1.25rem;
   margin-bottom: 50px;
}

.width-690 {
   max-width: 690px;
}

.logo-and-links {
   display: flex;
}

.header-logo {
   margin-bottom: 62px;
}

.btns {
   display: flex;
   gap: 16px;
}